/* Color: #1C73C1 */
* {
    padding: 0;
    margin: 0;
}

/* Nav */

nav {
    height: 70px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5%;
}

/*
nav a {
    max-height: 80%;
    border: 1px solid red;
    display: flex;
}
*/

nav img {
    height: 50px;
}

nav ul {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 20px;
    min-width: 300px;
}

ul a {
    color: black;
    text-decoration: none;
}

ul a:hover {
    color: #1C73C1;
    cursor: pointer;
}

nav img:hover {
    cursor: pointer;
}

#div-1 {
    width: 95%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}

#div-1 button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 10px;
    border-radius: 4px;
    background-color: #1C73C1;
    color: white;
}

#div-1 button:hover {
    background-color: #105c9e;
    cursor: pointer;
}

.crm-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 95%;
}

.crm-table thead tr {
    background-color: #1c73c1;
    color: #ffffff;
    text-align: left;
}

.crm-table th,
.crm-table td {
    padding: 12px 15px;
}

.crm-table tbody tr {
    border-bottom: 1px solid #dddddd;
}