<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contacts</title>
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    </head>
    <body>
        <nav>
            <a href="home.html"><img src="{% static 'users/images/crm_logo.png' %}"></a>
            <ul>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="deals.html">Deals</a></li>
            </ul>
        </nav>
        <div>

        </div>
    </body>
</html>