<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contacts</title>
        <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    </head>
    <body>
        <nav>
            <a href="/"><img src="{% static 'users/images/crm_logo.png' %}"></a>
            <ul>

                {% if user.is_authenticated %}
                <li class="nav-item"><a href="contacts.html">Contacts</a></li>
                <li class="nav-item"><a href="deals.html">Deals</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

                {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>

                {% endif %}
            </ul>
        </nav>
        <main>
            <div id="div-1">
                <h1>Contacts</h1>
                <button>Create contact</button>
            </div>
            <table class="crm-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Company</th>
                        <th>Deal Stage</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>James Grant</td>
                        <td>jgrant@bwellinsurance.com</td>
                        <td>111-222-3333</td>
                        <td>Barnwell Insurance</td>
                        <td>Presentation scheduled</td>
                    </tr>
                    <tr>
                        <td>Melissa Brown</td>
                        <td>mbrown@bwellinsurance.com</td>
                        <td>222-333-4444</td>
                        <td>Barnwell Insurance</td>
                        <td>Presentation scheduled</td>
                    </tr>
                    <tr>
                        <td>Bradley Phillips</td>
                        <td>bradphillips890@gmail.com</td>
                        <td>444-555-6666</td>
                        <td>Phillips Insurance</td>
                        <td>Appointment scheduled</td>
                        <td>Friend of Mike</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer>

        </footer>
    </body>
</html>