<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contacts</title>
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    </head>
    <body>
        <nav>
            <a href="/"><img src="{% static 'users/images/crm_logo.png' %}"></a>
            <ul>

                {% if user.is_authenticated %}
                <li class="nav-item"><a href="contacts.html">Contacts</a></li>
                <li class="nav-item"><a href="deals.html">Deals</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

                {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>

                {% endif %}
            </ul>
        </nav>
        {% block content %}
        <div id="home-div">
            {% if user.is_authenticated %}
            <h1>Welcome, {{user.username}}</h1>

            {% else %}
            <h1>Welcome to Clearview CRM</h1>
            <p>Clearview CRM is the best prospect-managing tool for your insurance agency. With a simple, fast, and effective interface, you'll be able to take your insurance agency to the next level.</p>
            <p>Please <a href="register/">register</a> or <a href="login/">login</a></p>

            {% endif %}
        </div>
        {% endblock content %}
    </body>
</html>